Repository WinMerge/winmerge, pull requests merged in 2021-12, with the labels that each got.

#1068 Add a feature to save/restore the ”Ignore numbers” setting to/from a project file.
  Src/Merge.cpp
  Src/Merge.rc
  Src/OpenView.cpp
  Src/OpenView.h
  Src/ProjectFile.cpp
  Src/ProjectFile.h
  Src/resource.h
Labels: project file

#1069 FolderCompare: Improve performance when tree mode is disabled
  Src/DirView.cpp
  Src/DirView.h
  Src/IListCtrlImpl.h
Labels: folder compare/merge

#1071 Add an "Defaults" section to the ini file
  Src/Common/IniOptionsMgr.cpp
Labels: ini file

#1077 Return better HRESULTs
  ShellExtension/WinMergeContextMenu/dllmain.cpp
Labels: shell extension

#1079 Update Traditional Chinese translation
  Translations/InnoSetup/Chinese_Traditional.isl
  Translations/ShellExtension/ChineseTraditional.po
  Translations/WinMerge/ChineseTraditional.po
Labels: translation

#1088 Update German.isl
  Translations/InnoSetup/German.isl
Labels: translation

#1098 Portuguese translation update
  Translations/WinMerge/Portuguese.po
Labels: translation
