Repository WinMerge/winmerge, pull requests merged in 2022-07, with the labels that each got.

#1390 Make wsc files available as plug-in
  Src/Common/lwdisp.c
  Src/Plugins.cpp
Labels: plugins

#1388 Fix issue #1387: replace text using regular expressions﻿ behaves inco…
  Externals/crystaledit/editlib/ccrystaltextview.cpp
Labels: text editor

#1393 Update Hungarian.po
  Translations/WinMerge/Hungarian.po
Labels: translation

#1394 Update of Lithuanian translation
  Translations/WinMerge/Lithuanian.po
Labels: translation

#1430 Create Midnight.ini
  ColorSchemes/Midnight.ini
Labels: color schemes
